/*element User*/
body{
    background-color: rgb(94, 91, 91)
}
h1.display-3{
    color: rgb(226, 153, 43);
    text-align: center;
}
p.lead{
    color:white;
}
p.lien{
  color: white;
}
/*ligne color*/
hr.my-4{
  color:rgb(226, 153, 43);
}